* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

header {
  height: 350px;
  background: #ccc
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.item {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.item-2 {
  width: 250px;
  margin: 10px;

}

.item-3 {
  /* justify-content: flex-start; */
  margin: 10px;
  font-size: 1.5rem;
}

.item-3 p {
  color: #666;
}


.photo {
  height: 150px;
  box-shadow: black;
  transition: 0.5s;
  border-radius: 50%;
  border: 2px solid gray;
  opacity: 0.5;
}

a {
  text-decoration: none;
}

h1 {
  padding: 10px;
  margin: 10px;
}

.photo:hover {
  opacity: 1;
  /* height: 175px; */

  border: 2px solid black;

  border-radius: 15%;
}

#avatar img {
  border: solid 3px #666;
  box-shadow: 0 0 5px black;
}

#myFollower {
  font-size: 1.5rem;
}